* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Arial';
}

body {
    display: block;
}

.container {
    display: flex;
    flex-direction: row
}


form > select, form > input, .leftColumn > form > button {
    width: 94%;
    height: 40px;
    border-radius: 5px;
    border: 0;
}

form > input, form > select {
    margin-bottom: 20px;
    background: #fff;
    padding: 10px 20px;
}

.leftColumn > form > button {
    grid-row: 3;
    grid-column: 2/3;
    background: #232F48;
    color: #FBFBFB;
    text-align: center;
}

.leftColumn > form > button:hover {
    opacity: .8;
    box-shadow: 2px 2px 2px #444;
    transition: all .3s;
    cursor: pointer;
}

.rightColumn {
    background: #333;
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.me {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    margin: 5px 10px;
    background: #1F2C33;
    color: #fff;
    padding: 4px;
    border-radius: 0 12px 12px 12px;
}

.me > img {
    width: 48px;
    height: 48px;
    margin: 0px 10px 0 0;
}

.me > .text > h5, .other > .text > h5 {
    font-size: 14px;
    color: #ddd;
}

.me > .text > p, .other > .text > p {
    font-size: 15px;
    color: #fafafa;
    opacity: 1;
    padding-left: 10px;
}

.other {
    display: flex;
    align-items: center;
    text-align: right;
    margin: 5px 0px;
    flex-direction: row-reverse;
}

.other > img {
    width: 53px;
    height: 47px;
    margin-left: 35px;
    justify-self: flex-end;
}

.rooms {
    width: 100%;
}

.each_room {
    display: block;
    padding: 10px;
    margin: 6px;
    border-radius: 4px;
    color: #fff;
    font-size: 1em;
    transition-delay: 100ms;
    background: #0B141A;
    opacity: .8;
    cursor: pointer;
}

.each_room:hover {
    opacity: 1;
}

.messageInput {
    margin: auto;
    height: 40px;
    width: 100%;
    background: #fafafa;
    opacity: 1;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #333;
}

*::-webkit-scrollbar-thumb {
    background-color: #909092;
    border-radius: 20px;
    border: 3px solid #333;
}

.msgTime {
    font-size: .75em;
    font-weight: normal;
    margin-left: 6px;
}

.defaultBtn {
    margin: 10px auto;
    width: 94%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background: #232F48;
    color: #FBFBFB;
    text-align: center;
}

.inputMessageDiv {
    display: flex;
    flex-grow: 1;
    height: 72px;
    background: #232F48;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

#roomTitleDiv {
    padding: 10px;
    color: #fff;
}


/*Media Queries*/

@media (max-width: 1250px) {
    .leftColumn {
        width: 240px;
    }

    .leftColumn > img {
        width: 60px;
        height: 60px;
    }

    form > input, form > select {
        width: 94%;
    }

    .leftColumn > form > button {
        width: 94%;
    }

    .rightColumn {
        flex-grow: 1;
    }

    .me > img {
        width: 50px;
        height: 43px;
        margin-right: 33px;
    }
}

@media (max-width: 650px) {
    .leftColumn {
        width: 240px;
    }

    .leftColumn > img {
        width: 90px;
        height: 90px;
    }

    form > input, form > select {
        width: 160px;
        padding: 10px 15px;
    }

    .leftColumn > form > button {
        width: 160px;
    }

    .rightColumn {
        flex-grow: 1;
    }

    .me > img {
        width: 30px;
        height: 25px;
        margin-right: 20px;
    }

    .me > .text > h5, .other > .text > h5 {
        font-size: 14px;
    }

    .me > .text > p, .other > .text > p {
        font-size: 14px;
    }
}



#container {
    background: #fafafa;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#leftColumn {
    width: 240px;
    background: #1f2c33;
    display: flex;
    flex-direction: column;
}

#logoDiv {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoImg {
    width: 40px;
    height: 40px;
}

#newRoomForm, #changeNameForm {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

#roomsDiv {
    flex-grow: 1;
    overflow: auto;
}

#userNameDiv {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#userAvatar {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

#userName {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
    justify-content: center;
}

#userNameSpan {
    font-weight: bold;
}

#editUserName {
    font-weight: normal;
    font-size: .7em;
    cursor: pointer;
}

#rightColumn {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #333;
}

#roomTitleDiv {
    height: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #1F2C33;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#talkingDiv {
    flex-grow: 1;
    background: #0B141A;
}

#messageInputDiv {
    background: #1F2C33;
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#messageSendingForm {
    width: 96%;
    height: 40px;
}

