* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Arial';
}

body {
    display: block;
}

.container {
    display: flex;
    flex-direction: row
}

#container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.leftColumn {
    background: #FFAF71;
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftColumn > img {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 10px auto;
    width: 60px;
    height: 60px;
}

form {
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: flex-end;
}

form > select, form > input, .leftColumn > form > button {
    width: 94%;
    height: 40px;
    border-radius: 5px;
    border: 0;
}

form > input, form > select {
    margin-bottom: 20px;
    background: #EEEEEE;
    opacity: .7;
    padding: 10px 20px;
}

.leftColumn > form > button {
    grid-row: 3;
    grid-column: 2/3;
    background: #232F48;
    color: #FBFBFB;
    text-align: center;
}

.leftColumn > form > button:hover {
    opacity: .8;
    box-shadow: 2px 2px 2px #444;
    transition: all .3s;
    cursor: pointer;
}

.rightColumn {
    background: #333;
    flex-grow: 1;
    height: 92vh;
    display: flex;
    flex-direction: column;
}

.me {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    margin: 5px 10px;
    background: #3a3a3a;
    color: #fff;
    padding: 4px;
    border-radius: 0 12px 12px 12px;
}

.me > img {
    width: 53px;
    height: 47px;
    margin-right: 35px;
}

.me > .text > h5, .other > .text > h5 {
    font-size: 15px;
    color: #fafafa;
}

k
.me > .text > p, .other > .text > p {
    font-size: 15px;
    color: #fafafa;
    opacity: .68;
}

.other {
    display: flex;
    align-items: center;
    text-align: right;
    margin: 5px 0px;
    flex-direction: row-reverse;
}

.other > img {
    width: 53px;
    height: 47px;
    margin-left: 35px;
    justify-self: flex-end;
}

.rooms {
    width: 100%;
}

.each_room {
    display: block;
    padding: 6px;
    margin: 6px;
    border-radius: 6px;
    color: #fff;
    font-size: 1.1em;
    transition-delay: 100ms;
    background: #ef9d5e;
    opacity: .8;
    cursor: pointer;
}

.each_room:hover {
    opacity: 1;
}

.inputMessage {
    margin: 15px;
    width: -webkit-fill-available;
    display: block;
    background: #fafafa;
    opacity: 1;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #333;
}

*::-webkit-scrollbar-thumb {
    background-color: #909092;
    border-radius: 20px;
    border: 3px solid #333;
}

.msgTime {
    font-size: .75em;
    font-weight: normal;
    margin-left: 6px;
}

.defaultBtn {
    width: 94%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background: #232F48;
    color: #FBFBFB;
    text-align: center;
    margin-bottom: 6px;
}

.divInputMessage {
    width: -webkit-fill-available;
    height: 70px;
    background: #232F48;
    z-index: 9999;
    position: fixed;
    bottom: 0px;
    overflow: hidden;
}

#roomTitle {
    padding: 10px;
    color: #fff;
}

#divUserName {
    text-align: center;
    display: block;
    width: -webkit-fill-available;
    padding: 6px;
    background: #4d4d4d;
    position: absolute;
    bottom: 0;
    color: #fff;
    height: 100px;
    overflow: hidden;
}

#spanUserName {
    height: 40px;
    padding: 6px;
    display: block;
}

/*Media Queries*/

@media (max-width: 1250px) {
    .leftColumn {
        width: 240px;
    }

    .leftColumn > img {
        width: 60px;
        height: 60px;
    }

    form > input, form > select {
        width: 94%;
    }

    .leftColumn > form > button {
        width: 94%;
    }

    .rightColumn {
        flex-grow: 1;
    }

    .me > img {
        width: 50px;
        height: 43px;
        margin-right: 33px;
    }
}

@media (max-width: 650px) {
    .leftColumn {
        width: 240px;
    }

    .leftColumn > img {
        width: 90px;
        height: 90px;
    }

    form > input, form > select {
        width: 160px;
        padding: 10px 15px;
    }

    .leftColumn > form > button {
        width: 160px;
    }

    .rightColumn {
        flex-grow: 1;
    }

    .me > img {
        width: 30px;
        height: 25px;
        margin-right: 20px;
    }

    .me > .text > h5, .other > .text > h5 {
        font-size: 14px;
    }

    .me > .text > p, .other > .text > p {
        font-size: 14px;
    }
}
